<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

{% extends "templates/web.html" %} {% block page_content %}

<link rel="stylesheet" href="assets/frappe_appointments/css/appointment_group.css" />

<div class="cal-main-container main-container" id="cal-main-container">
	<div class="column">
		<h3 id ="title">{{group_name}}</h3>
        <div class="applicant-detail" id ="applicant-detail">

        </div>
	</div>
	<div class="middle-column">
		<div class="calendar-container">
			<header class="calendar-header">
				<p class="calendar-current-date"></p>
				<div class="calendar-navigation">
					<span id="calendar-prev" class="material-symbols-rounded">
						<i class="fa fa-chevron-left"></i>
					</span>
					<span id="calendar-next" class="material-symbols-rounded">
						<i class="fa fa-chevron-right"></i>
					</span>
				</div>
			</header>

			<div class="calendar-body">
				<ul class="calendar-weekdays">
					<li>SUN</li>
					<li>MON</li>
					<li>TUE</li>
					<li>WED</li>
					<li>THU</li>
					<li>FRI</li>
					<li>SAT</li>
				</ul>
				<ul class="calendar-dates"></ul>
			</div>
		</div>
	</div>
	<div class="column no-flex">
		<div class="right-container">
			<div class="today-day">Day</div>
			<div class="timeslot-container">
				<div class="timeslot-empty">No open time slots</div>
			</div>
			<div class="calendar-action">
				<button class="primary submit submit-inactive">Submit</button>
				<button class="cancel">Cancel</button>
			</div>
		</div>
	</div>
</div>

<div class="loading-container">
	<div class="loading"></div>
</div>

<div class="appointment-success hidden" id="appointment-success">
	<div class="card success-card">
		<div class="card-body appointment-success-grid">
			<i class="fa fa-check-circle success-check"></i>
			<h3>Success</h3>
			<p>Your appoinment has been scheduled!</p>
		</div>
	</div>
</div>
<script src="assets/frappe_appointments/js/appointment_group.js"></script>
{% endblock %}